.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 3%;
  /* justify-content: center; */
  /* align-content: space-evenly; */
  /* border: 5px dotted blue; */
}

@media (max-width: 300px) {
  .card-container {
    flex-flow: column wrap;
  }
}

@media (min-width: 550px) {
  .card-container {
    flex-flow: row wrap;
  }
}
